/* font */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gayathri:wght@100&display=swap");

/* general */

body {
  font-family: "Fredoka One", cursive;
}

main {
  padding: 1em;
}

.flashes {
  margin-bottom: 0;
}

.random-border {
  border: solid rgb(218, 6, 105) 5px;
}

h4 .badge {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

#why_register {
  background-color: rgba(255, 255, 255, 0.836);
  color: rgb(1, 97, 97);
  align-items: center;
  padding: 0.6em;
}
/* icons */

.fas {
  font-weight: 200;
}

#view_recipe .fas,
.collection-item .fas {
  font-weight: 800;
}

.recipes i {
  color: rgb(1, 128, 128);
}

.saved i {
  color: rgb(1, 128, 128);
}

#ribbon {
  color: rgb(151, 3, 151);
  text-shadow: none;
}

main .star {
  color: goldenrod;
  text-shadow: 2px 2px rgb(255, 255, 255);
}

.card-reveal i {
  color: rgb(226, 75, 20);
  text-shadow: none;
}

.card i {
  color: rgb(226, 75, 20);
  text-shadow: 2px 2px rgb(255, 255, 255);
}

.checker a {
  color: rgb(226, 75, 20);
}

a:hover {
  color: rgb(226, 75, 20);
  text-shadow: 0.5px 0.5px rgb(255, 255, 255);
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Navbar */

nav {
  background-color: rgb(226, 75, 20);
  border-bottom-left-radius: 1.4em;
  border-bottom-right-radius: 1.4em;
}

.title i {
  margin-left: 2rem;
}
.logo {
  font-family: "Fredoka One", cursive;
  text-shadow: 2px 2px rgb(226, 75, 20);
}
.title:hover {
  text-shadow: 2px 2px rgb(255, 255, 255);
}

/* Mobile navbar  */

#mobile-demo a {
  color: rgb(1, 128, 128);
}
#mobile-demo li a i {
  color: rgb(226, 75, 20);
}

/* Focus Point */
.jumbotron {
  margin-top: 20px;
  height: auto;
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=2462&q=80");
  border-radius: 1.4em;
}

#welcome {
  background-color: rgba(255, 255, 255, 0.788);
  font-family: "Gayathri", sans-serif;
  color: rgb(2, 68, 68);
  font-weight: 200;
  font-size: 2.8em;
  margin: 0;
  padding-bottom: .4em;

}

#welcome_profile {
  margin-bottom: 0;
}

.profile {
  height: auto;
  background-color: #e0f2f1;
  border-radius: 1.4em;
  font-family: "Fredoka One", cursive;
  color: rgb(1, 128, 128);
  text-shadow: 1px 1px rgb(255, 255, 255);

  border: solid 1px rgb(1, 128, 128);
  text-transform: uppercase;
}

#searchbar {
  font-family: "Fredoka One", cursive;
  width: 50%;
  border: solid rgba(0, 128, 128, 0.801) 2px;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  color: rgb(1, 128, 128);
}

.search:hover {
  cursor: pointer;
}
#search-glass:hover {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.fa-times:hover {
  color: red;
}

#saved-reset .btn {
  border-radius: 1.4em;
}

/* images */

#products img {
  width: 80%;
}

.products img {
  height: auto;
  width: auto;
}

/* text */

body h1 {
  font-family: "Fredoka One", cursive;
  color: rgb(2, 68, 68);
  text-shadow: 2px 2px rgb(226, 75, 20);
  padding: 0.5em;
}
h2 {
  font-family: "Fredoka One", cursive;
  color: rgb(226, 75, 20);
  text-shadow: 1px 1px rgb(2, 68, 68);
  padding: 0.5em;
}

body h3 {
  font-family: "Gayathri", sans-serif;
  color: rgb(2, 68, 68);
  padding: 0.2em;
  margin: 0;
}

h4 {
  font-family: "Gayathri", sans-serif;
  color: rgb(2, 68, 68);
}

.card .card-title {
  font-size: 22px;
}

.card-reveal a {
  font-size: 20px;
  color: rgb(2, 68, 68);
  font-family: "Gayathri", sans-serif;
}

#error{
    text-shadow:1px 1px rgba(0, 179, 179, 0.562);
}

#size {
  color: rgb(226, 75, 20);
  text-shadow: 2px 2px rgb(1, 128, 128);
}

.type-desc h3 {
  color: rgb(226, 75, 20);
  font-weight: 200;
  letter-spacing: 2px;
  text-shadow: 1px 1px rgb(1, 128, 128);
}

.register {
  color: rgb(226, 75, 20);
  text-shadow: 2px 2px rgb(1, 128, 128);
}

.view {
  font-family: "Fredoka One", cursive;
  color: rgb(226, 75, 20);
  text-shadow: 2px 2px rgb(1, 128, 128);
  padding: 0.2em;
  margin: 0;
}

/* management table */

table {
  padding: 0.4em;
  font-family: "Gayathri", sans-serif;
}

.table {
  border-radius: 1.4em;
  max-height: 500px;
  min-height: auto;
  overflow: scroll;
}

.table label {
  padding-left: 1em;
}

.table label::after {
  color: rgb(255, 255, 255);
}

.table button {
  z-index: 0;
}

#products-table,
#tools-table {
  border: solid 1px green;
}

table a {
  color: rgb(255, 255, 255);
}
table a:hover {
  text-decoration: underline;
  color: darkblue;
  text-shadow: none;
}
tr td {
  width: 180px;
  overflow: hidden;
}

/* forms and cards */

form i {
  color: rgb(248, 246, 246);
  text-shadow: 2px 2px rgb(226, 75, 20);
}
.card {
  background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-size: cover;

  border-radius: 1.4em;
  font-weight: 600;
  /* border: solid rgb(226, 75, 20) 0.5px; */
}

.card:hover {
  box-shadow: 3px 3px 3px rgb(226, 75, 20);
  z-index: 200;
}

#view_recipe {
  font-family: "Gayathri", cursive;
  color: rgb(1, 128, 128);
  font-size: 1.2em;
}

#view_recipe i {
  color: rgb(1, 128, 128);
}
#view_recipe a {
  color: rgb(226, 75, 20);
}
#view_recipe a:hover {
  text-decoration: underline;
}

#toast-container {
  background-color: green;
  color: rgb(255, 255, 255);
}

#view_recipe button i {
  color: rgb(255, 255, 255);
}

#tools-table input {
  border: solid 1px green;
}

/* images */

.circle {
  text-shadow: 2px 2px rgb(1, 128, 128);
}
.card img {
  padding-top: 1em;
  height: 180px;
}

.card .card-image img {
  border-radius: 50%;
  border: transparent;
}

img.circle {
  margin-top: 50px;
}

/* components  */

/* all recipe cards */
.collection {
  border: none;
  padding-bottom: 10px;
}

.collection-item {
  border-radius: 1.5em;
  background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
}
.collection-item:hover {
  box-shadow: 5px 5px 5px rgb(1, 128, 128);
  z-index: 300;
}

#recipe-rating,
#recipe-rating i {
  background-color: #f3fafab9;
  padding: 0.2em;
  border-radius: 1.4em;
}

.ing,
.method {
  border-radius: 1.4em;
  border: solid 2px rgb(1, 128, 128);
  background-image: url("https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
  background-size: cover;
}
.card .card-content {
  padding-left: 0;
  padding-right: 0;
}

.card-content:hover,
.card:hover {
  cursor: pointer;
}

ul a {
  color: rgb(226, 75, 20);
}

/* buttons */
button {
  height: auto;
  width: auto;
  background-color: rgb(226, 75, 20);
  border-top-right-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  z-index: 600;
}

button i {
  color: rgb(255, 255, 255);
  text-shadow: none;
}
button:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

button > a {
  font-family: "Fredoka One", cursive;
}
.search-btn {
  margin: 0;
  color: rgb(255, 255, 255);
}
.search-btn:hover {
  transform: scale(1.2);
}

.btn-small {
  width: auto;
}
.btn-large {
  border: solid 2px rgb(255, 255, 255);
  border-radius: 0.8em;
  padding: 0.4em;
  margin-bottom: 10px;
}

.btn-large a {
  color: rgb(255, 255, 255);
}

.btn-large:hover {
  background-color: rgb(226, 75, 20);
}

#controlPanel button {
  margin-bottom: 10px;
}

.add-recipe-btn {
  background-color: green;
  color: rgb(255, 255, 255);
}

.edit-btn,
.delete-btn {
  width: 7em;
  color: rgb(255, 255, 255);
  border-radius: 1.2em;
  margin: 20px;
  z-index: 300;
  padding: 10px;
}

.delete-btn {
  background-color: red;
}

.edit-btn {
  background-color: rgb(33, 169, 223);
}

.delete-btn i,
.edit-btn i {
  color: rgb(255, 255, 255);
}

#save-btn {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(1, 128, 128);
  color: rgb(255, 255, 255);
  border-radius: 1.4em;
  width: auto;
  margin-bottom: 1em;
}

#save-btn i {
  color: rgb(255, 255, 255);
}
#save-btn:hover {
  cursor: pointer;
}

#saved {
  border-radius: 1.4em;
  background-color: rgb(255, 255, 255);
  border: 2px 2px rgb(1, 128, 128);
  color: rgb(1, 128, 128);
}

.fixed-action-btn:hover {
  color: rgb(226, 75, 20);
}

.remove-btn {
  z-index: 500;
  color: rgb(1, 128, 128);
}

.remove-btn:hover {
  cursor: pointer;
  color: rgb(226, 75, 20);
  text-shadow: none;
}

/* footer */

footer {
  background-color: rgb(226, 75, 20);
  color: rgb(255, 255, 255);
  height: 2em;
}

footer a{
    margin-left: 1em;
    color: white;
}

/* MEDIA QUERIES*/
@media only screen and (max-width: 600px) {
  .title i {
    margin-top: 0.6em;
  }
  .card img {
    padding-top: 1em;
    height: 120px;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
    max-width: initial;
  }

  .edit-btn,
  .delete-btn {
    width: auto;
    color: rgb(255, 255, 255);
    border-radius: 1.2em;
    z-index: 300;
  }
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .menu-btn {
    margin-bottom: 10px;
  }
}
