/* font */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gayathri:wght@100&display=swap");

/* general */

body{
    font-family: 'Fredoka One', cursive;
}

/* icons */

main i{
    color: rgb(250, 250, 250);
    text-shadow: 2px 2px coral;

}

.view_recipe i{

    color: teal;
}
.recipes i{
    color: teal;
}

#ribbon{
    color: rgb(151, 3, 151);
    text-shadow: none
}

#star{
    color: goldenrod;
    text-shadow: 2px 2px  white;
}


.card-reveal i{
    color: coral;
    text-shadow: none;
}

.card i{
    color: coral;
    text-shadow: 2px 2px  white;
}

.checker a {
    color: coral;
}

a:hover{
color: coral;
text-shadow: .5px .5px white;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Navbar */

nav{
    background-color: coral;
    border-bottom-left-radius: 1.4em;
    border-bottom-right-radius: 1.4em;
}

.title i {
  padding-left: 2rem;
}
.title {
  padding-left: 2em;
  font-family: 'Fredoka One', cursive;
  text-shadow: 2px 2px coral;
}
.title:hover{
    text-shadow: 2px 2px white;

}

/* Focus Point */
.jumbotron {
  height: auto;
  background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=2462&q=80");
  border-radius: 1.4em;
}

.profile{
    height: auto;
     background-image: url("https://images.unsplash.com/photo-1540660290370-8aa90e451e8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
     border-radius: 1.4em;

}

#searchbar {
  font-family: "Fredoka One", cursive;
  width: 50%;
  border: solid rgba(0, 128, 128, 0.801) 2px;
  border-top-left-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  padding: 8px;
  background-color: white;
  color: teal;
}


/* text */

body h1{
    font-family: 'Fredoka One', cursive;
    color: rgb(2, 68, 68);
    text-shadow: 2px 2px coral;
    padding: .5em;
}

body h3{
    font-family: 'Gayathri', sans-serif;
    color: rgb(2, 68, 68);
    background-color: rgba(255, 255, 255, 0.705);
    padding: .2em;
    margin: 0;

}

.register{
    color: coral;
    text-shadow: 2px 2px teal;

}



.view{
    font-family: 'Fredoka One', cursive;
    color: coral;
    text-shadow: 2px 2px teal;
    padding: .5em;

}

.reg_label{
    font-size: 200;
}


/* forms and cards */
.card{
    border-radius: 1.4em;
    font-weight: 600;
}

.card:hover{
    border: solid coral 2px;
    box-shadow: 3px 3px 3px coral;
    z-index: 200;
}


/* images */
.card img{
    padding-top: 1em;
    height: 180px;
    
}

.card-image img {
    border-radius: 20%;
}

#chef{
    display: inline;
    position: relative;
    left: 210px;;
    bottom: 150px;
    width: 60px;
}


/* components  */
.collapsible li{
    border-top-left-radius: 1.4em;
    border-top-right-radius: 1.4em;

}

.recipe-card a{
    color: rgb(121, 187, 187);
}

.recipe-card a:hover,
.recipe-card:hover{
    background-color: coral;
    color: white;
}

ul a{
    color: coral;
}

/* buttons */
button{
    height: 60px;
    width: 50px;
    background-color: coral; 
    border-top-right-radius: .8em;
    border-bottom-right-radius: .8em;
}
button:hover{
    cursor:pointer;
    color: white;
}

button > a{
    font-family: 'Fredoka One', cursive;
}
.search-btn{
    margin: 0;
    color: white;
}
.search-btn:hover{
    transform: scale(1.2);
}

.btn-small{
    width: auto;
}
.btn-large{
    border: solid 2px white;
    border-radius: .8em;
    padding: .4em;
}

.btn-large a{
    color: white;
}

.btn-large:hover{
    background-color: coral;
    
}

.card-content:hover,
.card:hover{
    cursor: pointer;
}


.add-recipe-btn{
    background-color: green;
    color: white;
}

.edit-btn,
.delete-btn{

    width: 5em;
    color: white;
    border-radius: 1.2em;
}

.delete-btn{
    background-color: red;
}

.edit-btn{
    background-color: green;
}

#save-btn{
    border: 2px solid teal;
    border-radius: 1.4em;
    padding: 1em;
    margin-top: 3em;

}
#save-btn:hover{
    cursor: pointer;
}

/* footer */

footer{
    background-color: coral;
    color: white;
    height: 2em;
}