{% extends "base.html" %}{% block content %}

<div class="container">
  <h1 class="center-align jumbotron">
    Edit Recipe <i class="fas fa-pencil"></i>
  </h1>
  <div class="row center">
    <button class="back btn red">
      Cancel Edit <i class="fas fa-backspace"></i>
    </button>
  </div>
  <form
    class="flow-text col s12 m8 offset-m2"
    method="POST"
    action="{{url_for('edit_recipe', recipe_id=recipe._id) }}"
  >
    <div class="card-panel">
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-pencil prefix"></i>
          <input
            name="recipe_name"
            id="recipe_name"
            type="text"
            class="validate"
            value="{{recipe.recipe_name}}"
          />
          <label for="recipe_name">Recipe Name</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-folder-open prefix"></i>
          <select class="icons" name="type" required>
            <option value="" disabled>Recipe Type</option>
            {% for type in types %} {% if type.type_name == recipe.type %}
            <option
              value="{{ type.type_name }}"
              data-icon="images/sample-1.jpg"
              selected
              >{{ type.type_name }}</option
            >{%else%}
            <option value="{{ type.type_name }}" data-icon="images/sample-1.jpg"
              >{{ type.type_name }}</option
            >
            {%endif%} {% endfor %}
          </select>
          <label>Recipe Type</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-fire prefix"></i>
          <select name="appliance">
            <option value="" selected disabled>Choose your option</option>
            {%for product in products %} {% if product.product_name ==
            recipe.appliance %}
            <option selected value="{{product.product_name}}"
              >{{product.product_name}}</option
            >
            {%else %}
            <option value="{{product.product_name}}"
              >{{product.product_name}}</option
            >
            {% endif %} {% endfor %}
          </select>
          <label>Appliance</label>
        </div>
        <div class="input-field col s12 m6">
          <i class="fas fa-thermometer-half prefix"></i>
          <select name="temperature">
            <option disabled value="">Choose your option</option>
            <option value="N/A">N/A</option>
            {% for i in range(100,300, 10) %}
            <option value="{{i}}">{{i}} °C</option>
            {% if i|string == recipe.temperature %}
            <option selected value="{{i}}"
              >{{recipe.temperature}} °C</option
            >
            {%else%} {% endif %} {% endfor %}
          </select>
          <label>Temperature</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <i class="fas fa-stopwatch prefix"></i>
          <select name="time">
            <option disabled>Choose your option</option>
            {% for i in range(0,120, 5) %} {% if i|string == recipe.cooking_time %}
            <option selected value="{{i}}">{{i}} minutes</option>
            {%else%}
            <option value="{{i}}">{{i}} minutes</option>
            {% endif %} {% endfor %}
          </select>
          <label>Cooking Time</label>
        </div>
        <div class="col s12 m6">
          <div class="switch">
            <label>
            {%if recipe.vegan == "Yes" or "yes"%}
              <input name="vegan" value="vegan" type="checkbox" checked />
            {%else %}
            <input name="vegan" value="vegan" type="checkbox"/>
            {%endif%}
              <span class="lever"></span>
              <span class="reg_label">Vegan</span> <i class="fab fa-vuejs"></i>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12">
          <i class="fas fa-list-ul prefix"></i>
          <input
            id="ingredients"
            name="ingredients"
            type="text"
            minlength="5"
            class="validate center"
            maxlength="200"
            placeholder="List ingredients with ',' in between"
            value="{{recipe.ingredients}}"
            required
          />
          <label for="user_name">Ingredients</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12">
          <i class="fas fa-list-ol prefix"></i>
          <input
            id="method"
            name="method"
            type="text"
            class="validate center"
            placeholder="List instructions with '.' between"
            value="{{recipe.method}}"
          />
          <label for="method">Method</label>
        </div>
      </div>
      <!--login-->
      <div class="row">
        <button type="submit" class="col s12 btn-large darken-4 text-shadow">
          Edit Recipe <i class="fas fa-pencil"></i>
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
