{% extends "base.html" %}{% block content %}

<div class="jumbotron row center-align">
  <h1 class="pulse">Welcome to Rubric!</h1>
  <hr />
  <h3 id="welcome">Your personal recipe manager...</h3>
  <br />

  <form method="POST" action="{{url_for('search')}}">
    <input
      type="search"
      name="search"
      placeholder="SEARCH IN RECIPES..."
      id="searchbar"
      class="fas fa-search icon-search center-align"
    />
    <button class="btn-floating pulse" aria-label="search button" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <br />

  <div class="buttons row">
    <div class="col s2"></div>
    {% if session.user == "Guest" %}
    <div class="col btn-large s3">
      <a class="flowtext text-white" href="{{ url_for('register') }}"
        >Register <i class="fas fa-user-plus"></i
      ></a>
    </div>
    <div class="col s2"></div>
    <div class="btn-large col s3">
      <a class="flowtext text-white" href="{{url_for('login') }}"
        >Login <i class="fas fa-door-open"></i
      ></a>
    </div>
    {% endif %} 
  </div>
  <div id="why_register" class="center row"><p>Register or Login to <span style="color: coral">SAVE</span> and <span style="color: coral">RATE</span> recipes and view our top tools, products and discounts for <span style="color: coral">FREE!</span></p></div>
</div>
<div class="center-align stats row">
<div class=" center-align col s12 m4">
    <h2>
      {{users|length}} <i class="fas fa-users"></i><br />
      <span class="stat">USERS</span>
    </h2>
  </div>
  <div class="stat center-align col s12 m4">
    <h2>{{recipes|length}} <i class="fas fa-books"></i><br />RECIPES</h2>
  </div>

  <div class="stat center-align col s12 m4">
    <h2>
      100 <i class="fas fa-percent"></i><br />
      FREE
    </h2>
  </div>
</div>
{% endblock %}
