{% extends 'base.html' %}{% block content %}

<div class="center row">
  <h1 class=" ">Management <i class="fas fa-cogs"></i></h1>
</div>

<div class="row">
<div class="col blue s6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, eum sed nihil tenetur culpa facere ut quisquam earum animi unde odio itaque fugit qui accusamus perspiciatis nulla nam possimus blanditiis.</div>
<div class="col green s6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugiat voluptate hic libero maiores enim laboriosam laudantium vero quod reprehenderit, distinctio beatae voluptatibus ratione, eum fugit necessitatibus omnis magni nulla!</div>


</div>

{% endblock %}
