{% extends 'base.html' %}{% block content %}

<div id="products" class="row">
<div class="row jumbotron center">
  <h1 class="center-align">
    Top Tools & Products <i class="fas fa-blender"></i></h1>
    <h3 id="welcome">Our top recommended products and tools...</h3>
    <br>
  
</div>
<hr>
<br>
<ul>
{% for tool in tools %}
{%if tool.name =="Other" %}
{%else%}
{% if  loop.index %2 != 0 %}
  <li>
    <div class="row">
     
        <div class="col s6">
         <a
        href="{{tool.url}}" target="_blank"
      >
          <h3 class="flow-text">{{tool.name}}</h3></a>
        
        <p>
        <ul>
        <li class="hide-on-small-only">
        {{tool.desc}}
        </li>
        </ul>
        </p>

        <div class="center"><h4 class="center">£{{tool.price}}</h4>  <button data-target="discount" class=" btn green modal-trigger">10% off with voucher code <i class="fas fa-receipt"></i></button></div>

         <a
        href="{{tool.url}}" target="_blank"
      ><p class="center">Click here for more info...</p></a>
        </div>
         <a
        href="{{tool.url}}" target="_blank"
      >
        <div class="col s6">
          <img
            src="{{tool.image}}"
            alt=""
          /></div
      ></a>
    </div>
  </li>
{% else %}
<li>
    <div class="row">
     <a
        href="{{tool.url}}" target="_blank"
      >
        <div class="col s6">
          <img
            src="{{tool.image}}"
            alt=""
          /></div
      ></a>
     
        <div class="col s6">
         <a
        href="{{tool.url}}" target="_blank"
      >
          <h3 class="flow-text">{{tool.name}}</h3></a>
        
        <p>
        <ul>
        <li class="hide-on-small-only">
        {{tool.desc}}
        </li>
        </ul>
        </p>

        <div class="center"><h4 class="center">£{{tool.price}}</h4>  <button data-target="discount" class=" btn green modal-trigger">10% off with voucher code <i class="fas fa-receipt"></i></button></div>

         <a
        href="{{tool.url}}" target="_blank"
      ><p class="center">Click here for more info...</p></a>
        </div>
    </div>
  </li>
{%endif%}
{%endif%}
{% endfor %}
  <hr>
  <br>

</ul>
<div class="products row center">
<h3><i class="fab fa-amazon"></i></h3>
<h3> Our recommended apppliances:</h3>
<br>
{%for product in products %} 
<a href="{{product.url}}">
<span class="center col s2">
{{product.product_name}}:
 <img src="{{product.image_url}}" alt="{{product.product_name}}">
 </span>
 </a>
 {%endfor%}
</div>
</div>
<div id="discount" class="modal">
    <div class="jumbotron modal-content center">
      <h4> <i class="fas fa-at-chef"></i> RUBRIC DISCOUNT CODE</h4>
      <hr>
      <h5>Here is your unique discount code:</h5>
      <strong><h5 style="background-color: rgba(255,255,240,0); color:goldenrod">RUBRIC10 <i class="fas fa-copy"></i></h5></strong>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Thanks <i class="fas fa-thumbs-up"></i></a>
    </div>
  </div>
{%endblock%}
