{% extends 'base.html' %}{% block content %}
<div class="row center-align jumbotron">
  <h1 id="welcome_profile" class="col-8">
    {{ session.user }}'s Profile <i class="fas fa-user"></i>
  </h1>
  <form method="POST" action="{{url_for('search')}}">
    <input
      type="search"
      name="search"
      placeholder="Search for recipes..."
      id="searchbar"
      class="fas fa-search icon-search"
    />
    <button class="btn-floating pulse" search-btn type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <br />
</div>

<div class="row">
  <div class="card col s6 m6 l3">
    <div class="card-image waves-effect waves-block waves-light">
      <img
        class="activator"
        src="{{url_for('static', filename='images/books.jpg')}}"
      />
    </div>
    <div class="center-align card-content">
      <span class="card-title activator grey-text text-darken-4"
        ><h3 class="flow-text activator">All Recipes</h3>
        <i class="fas fa-folder"></i
      ></span>
    </div>
    <div class="card-reveal #b2dfdb teal lighten-4 center-align">
      <span class="card-title grey-text text-darken-4"
        >All Recipes <i class="xsmall fas fa-times"></i
      ></span>
      <br />
      <a href="{{url_for('all_filter')}}">
      <i class="medium fas fa-books"></i>
        <p>
          All recipes of every type from all creators...
        </p>
        <i class="fas fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
  <div class="card col s6 m6 l3">
    <div class="card-image waves-effect waves-block waves-light">
      <img
        class="flow-text activator"
        src="{{url_for('static', filename='images/bookmark.jpg')}}"
      />
    </div>
    <div class="card-content center-align">
      <span class="card-title activator grey-text text-darken-4"
        ><h3 class="flow-text activator">Saved Recipes</h3>
        <i class="fas fa-thumbtack"></i> ({{this_user.saved_recipes|length}})</span
      >
    </div>
    <div class="card-reveal #b2dfdb teal lighten-3 center-align">
      <span class="card-title grey-text text-darken-4"
        >Saved Recipes <i class="xsmall fas fa-times"></i
      ></span>
      <br />
      <a
        class="center-align"
        href="{{url_for('saved_recipes', user=session.user)}}"
      >
        <i class="medium center-align fas fa-thumbtack"></i>
        <p>
          Here are all the recipes you chose to save...
        </p>
        <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="card col s6 m6 l3">
    <div class="card-image waves-effect waves-block waves-light">
      <img
        class="activator"
        src="{{url_for('static', filename='images/mine.jpg')}}"
      />
    </div>
    <div class="card-content center-align">
      <span class="card-title activator grey-text text-darken-4"
        ><h3 class="flow-text activator">My Recipes</h3>
        <i class="flow-text fas fa-archive"></i>
      </span>
    </div>
    <div class="card-reveal #b2dfdb teal lighten-4 center-align">
      <div class="span right-align"></div>
      <span class="card-title grey-text text-darken-4"
        >My Recipes <i class="xsmall fas fa-times"></i>
      </span>
      <br />
      <a class="btn-medium" href="{{url_for('myRecipes')}}">
        <i class="medium center-align fas fa-book-reader"></i>
        <p>
          Create, Edit and Delete your recipes...
        </p>
        <i class="fas fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
  <div class="card col s6 m6 l3">
    <div class="card-image waves-effect waves-block waves-light">
      <img
        class="activator"
        src="{{url_for('static', filename='images/cart.jpg')}}"
      />
    </div>
    <div class="card-content center-align">
      <span class="card-title activator grey-text text-darken-4"
        ><h3 class="flow-text activator">Top Tools</h3>
        <i class="fas fa-shopping-bag"></i>
      </span>
    </div>
    <div class="card-reveal #b2dfdb teal lighten-3 center-align">
      <span class="card-title grey-text text-darken-4"
        >Top Tools <i class="xsmall fas fa-times"></i>
      </span>
      <br />
      <a class="btn-medium" href="{{url_for('myRecipes')}}">
        <i class="center-align medium fas fa-blender"></i>
        <p>
          Our recommended top tools...
        </p>
        <i class="fas fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
</div>

{% endblock %}
