{% extends 'base.html'%}{% block content %}
<nav>
  <div class="">
    <div class="col s4">
      <a href="{{url_for('recipes')}}" class="breadcrumb"> Recipes </a>
      <a href="#!" class="breadcrumb"> {{ recipe_type }}</a>
    </div>
  </div>
</nav>
<h1 class="center-align jumbotron col-8">{{ recipe_type }}</h1>
<div class="type-desc text-darken-2 row center-align"><h4>
  {% for item in types %} {% if item.type_name == recipe_type %}
  {{item.type_desc}} {% endif %} {% endfor %}</h4>
</div>
<ul class="collection col s12">
    {% for item in recipes %}
    {% if item.type == recipe_type %}
    <a href="{{url_for('view_recipe', recipe_id=item._id) }}"
      >
      <li class="collection-item #e0f2f1 teal lighten-5 hoverable avatar col s12">
        {% if item.type == 'Dessert' %}
        <img
          class="circle"
          src="{{ url_for('static', filename='images/dessert.jpg') }}"
        />
        {% elif item.type == 'Snack' %}
        <img
          class="circle"
          src="{{ url_for('static', filename='images/food.jpg') }}"
        />
        {% elif item.type == 'Starter' %}
        <img
          class="circle"
          src="{{ url_for('static', filename='images/starter.jpg') }}"
        />
        {% elif item.type == 'Main'%}
        <img
          class="circle"
          src="{{ url_for('static', filename='images/main.jpg') }}"
        />
        {% else %}
        <img
          class="circle"
          src="{{ url_for('static', filename='images/books.jpg') }}"
        />
        {% endif %}
        <span class="title">
          <h2>{{item.recipe_name}}</h2>

          <p>
            {% if item.created_by == session.user %}<i
              id="ribbon"
              class="fas fa-ribbon"
            ></i>
            Created by YOU{% else %}<i class="fas fa-user"></i> Creator:
            {{item.created_by}}{% endif %}
          </p></span
        >

        <br />

        <a href="" disabled class="secondary-content"
          ><h3>{{item.rating}} <i id="star" class="fas fa-star"></i
        ></h3> ({{item.rating_count}}) RATINGS</a>
        
      </li>
    </a>
    {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
