{% extends 'base.html' %}{%block content %}

<div class="row jumbotron center-align">
  <h1 class=" ">Recipes <i class="fas fa-books"></i></h1>
  <form method="POST" action="{{url_for('search')}}">
    <input
      type="search"
      name="search"
      placeholder="Search for recipes..."
      id="searchbar"
      class="fas fa-search icon-search"
    />
    <button class="btn-floating pulse" aria-label="search button" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <br />
</div>
<br />
<hr />
<br>
<div class="row center-align">
    <div class="menu-btn col s6 m3">
        <a
            id="allRecipes"
            href="{{url_for('all_filter')}}"
            class="hoverable center-align blue btn-large" >All Recipes <i class="fas fa-sort-alpha-down"></i
        ></a>
        </div>
        <div class="menu-btn col s6 m3">
        <a id="random-btn"
            href="{{url_for('random')}}"
           class="hoverable center-align pink btn-large"
            >Random <i class="fas fa-random"></i
        >
        </a>
    </div>
    <div class="menu-btn col s6 m3">
        <a
            id="types-btn"
            class="hoverable center-align #ff6e40 deep-orange accent-2 btn-large"
            >Types <i class="fas fa-filter"></i
        ></a>
    </div>
    <div class="menu-btn col s6 m3">
        <a
            href="{{url_for('vegan_filter')}}"
            
            class="hoverable center-align green darken-4 btn-large"
            >Vegan <i class="fab fa-envira"></i
        ></a>
    </div>
</div>
<hr>
<br>
<div hidden id="recipeTypeCards" class="row">
  {% for item in types %}
  <a href="{{url_for('recipe_list', recipe_type=item.type_name) }}">
    <div class="card hoverable col s6 m6 l3 center-align activator">
      <div class="card-image waves-effect waves-block waves-light">
        {% if item.type_name == 'Dessert' %}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/dessert.jpg') }}"
          alt="dessert image"
        />
        {% elif item.type_name == 'Snack' %}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/food.jpg') }}"
          alt="food image"
        />
        {% elif item.type_name == 'Starter' %}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/starter.jpg') }}"
          alt="starter image"
        />
        {% elif item.type_name == 'Main'%}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/main.jpg') }}"
          alt="main image"
        />
        {% else %}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/books.jpg') }}"
          alt="books image"
        />
        {% endif %}
      </div>
      <div class="card-content">
        <h3>
          <span class="card-title activator grey-text text-darken-4"
            >{{item.type_name}}</span
          >
        </h3>
      </div>
    </div>
  </a>
  {% endfor %}

</div>

{% if recipes|length > 0 %}
<div class="recipe-cards container-fluid">  
<div class="menu row">
    <span class="left">Recipe</span><span class="right">Average Rating / 10</span>
</div>
  <div id="all_recipes" class="row">
    <ul class="collection col s12">
      {% for item in recipes %}
      <a href="{{url_for('view_recipe', recipe_id=item._id) }}">
        <li
          class="collection-item hoverable avatar col s12"
        >
          {% if item.type == 'Dessert' %}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/dessert.jpg') }}" alt="dessert image"
          />
          {% elif item.type == 'Snack' %}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/food.jpg') }}" alt="food image"
          />
          {% elif item.type == 'Starter' %}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/starter.jpg') }}" alt="starter image"
          />
          {% elif item.type == 'Main'%}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/main.jpg') }}" alt="main course image"
          />
          {% else %}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/books.jpg') }}" alt="recipe books image"
          />
          {% endif %}
          <span class="title">
            <h2 class="flow-text">{{item.recipe_name}}</h2>

            <p><h3 class="flow-text">
              {% if item.created_by == session.user %}<i
                id="ribbon"
                class="fas fa-ribbon"
              ></i>
              Created by YOU{% else %}<i class="fas fa-user"></i> Creator:
              {{item.created_by}}{% endif %}</h3>
            </p></span
          >

          <br />

          <a disabled class="secondary-content"
            ><h3 class="flow-text">
           {% if item.rating|length == 0 %}RATE ME{%else%}{%set rating = item.rating|sum / item.rating|length %}{{'%0.1f' % rating|float}}{% endif %} <i id="star" class="star fas fa-star"></i>
            </h3>
            <span class="flow-text hide-on-small-only">({{item.rating|length}})</span> <span class="hide-on-small-only">RATINGS</span></a
          >
        </li>
      </a>
      <br />
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
<h3 class="red-text text-darken center-align">NO RESULTS FOUND</h3>
<div class="row center-align">
  <a
    href="{{url_for('add_recipe') }}"
    <button
    class="pulse center-align green btn-large"
    >Add Recipe <i class="fas fa-plus-circle"></i
  ></a>
</div>
{% endif %} {% endblock %}
