{% extends 'base.html' %}{%block content %}

<div class="row jumbotron center-align">
  <h1 class=" ">Recipes</h1>
  <form method="POST" action="{{url_for('search')}}">
    <input
      type="search"
      name="search"
      placeholder="Search for recipes..."
      id="searchbar"
      class="fas fa-search icon-search"
    />
    <button class="btn-floating pulse" search-btn type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <br />
</div>
<div class="row">
  {% for item in types %}
  <a href="{{url_for('recipe_list', recipe_type=item.type_name) }}">
    <div class="card hoverable col s6 m6 l3 center-align activator">
      <div class="card-image waves-effect waves-block waves-light">
        {% if item.type_name == 'Dessert' %}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/dessert.jpg') }}"
        />
        {% elif item.type_name == 'Snack' %}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/food.jpg') }}"
        />
        {% elif item.type_name == 'Starter' %}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/starter.jpg') }}"
        />
        {% elif item.type_name == 'Main'%}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/main.jpg') }}"
        />
        {% else %}
        <img
          class="activator"
          src="{{ url_for('static', filename='images/books.jpg') }}"
        />
        {% endif %}
      </div>
      <div class="card-content">
        <h3>
          <span class="card-title activator grey-text text-darken-4"
            >{{item.type_name}}</span
          >
        </h3>
      </div>
    </div>
  </a>
  {% endfor %}
  <div class="row"></div>
</div>
{% if recipes|length > 0 %}
<div class="row center-align">
  <a
    href="{{url_for('add_recipe') }}"
    <button
    class="pulse center-align green btn-large"
    >Add Recipe <i class="fas fa-plus-circle"></i
  ></a>
</div>
<br />
<hr />
<div class="row center-align">
  <h2>All Recipes:</h2>
</div>
<div class="container-fluid">
  <div id="all_recipes" class="row">
    <ul class="collection col s12">
      {% for item in recipes %}
      <a href="{{url_for('view_recipe', recipe_id=item._id) }}">
        <li
          class="collection-item #e0f2f1 teal lighten-5 hoverable avatar col s12"
        >
          {% if item.type == 'Dessert' %}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/dessert.jpg') }}"
          />
          {% elif item.type == 'Snack' %}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/food.jpg') }}"
          />
          {% elif item.type == 'Starter' %}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/starter.jpg') }}"
          />
          {% elif item.type == 'Main'%}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/main.jpg') }}"
          />
          {% else %}
          <img
            class="circle"
            src="{{ url_for('static', filename='images/books.jpg') }}"
          />
          {% endif %}
          <span class="title">
            <h2 class="flow-text">{{item.recipe_name}}</h2>

            <p>
              {% if item.created_by == session.user %}<i
                id="ribbon"
                class="fas fa-ribbon"
              ></i>
              Created by YOU{% else %}<i class="fas fa-user"></i> Creator:
              {{item.created_by}}{% endif %}
            </p></span
          >

          <br />

          <a href="" disabled class="secondary-content"
            ><h3 class="flow-text">
              {{item.rating}} <i id="star" class="fas fa-star"></i>
            </h3>
            <span class="flow-text">({{item.rating_count}})</span> RATINGS</a
          >
        </li>
      </a>
      <br />
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
<h3 class="red-text text-darken center-align">NO RESULTS FOUND</h3>
<div class="row center-align">
  <a
    href="{{url_for('add_recipe') }}"
    <button
    class="pulse center-align green btn-large"
    >Add Recipe <i class="fas fa-plus-circle"></i
  ></a>
</div>
{% endif %} {% endblock %}
