{% extends 'base.html'%}{% block content %}
<nav>
  <div class="">
    <div class="col s4">
      <a href="{{url_for('recipes')}}" class="breadcrumb"> Recipes </a>
      <a href="#!" class="breadcrumb"> {{ recipe_type }}</a>
    </div>
  </div>
</nav>
<span class="jumbotron">
  <h1 class="center-align jumbotron col-8">{{ recipe_type }}</h1>
  <div class="type-desc text-darken-2 row center-align">
    <h4 class="flow-text welcome">
      {% for item in types %} {% if item.type_name == recipe_type %}
      {{item.type_desc}} {% endif %} {% endfor %}
    </h4>
  </div>
</span>
<ul class="collection flow-text col s12">
  {% for item in recipes %} {% if item.type == recipe_type %}
  <a href="{{url_for('view_recipe', recipe_id=item._id) }}">
    <li class="collection-item #e0f2f1 teal lighten-5 hoverable avatar col s12">
      {% if item.type == 'Dessert' %}
      <img
        class="valign-wrapper circle"
        src="{{ url_for('static', filename='images/dessert.webp') }}"
      />
      {% elif item.type == 'Snack' %}
      <img
        class="circle"
        src="{{ url_for('static', filename='images/food.webp') }}"
      />
      {% elif item.type == 'Starter' %}
      <img
        class="circle"
        src="{{ url_for('static', filename='images/starter.webp') }}"
      />
      {% elif item.type == 'Main'%}
      <img
        class="circle"
        src="{{ url_for('static', filename='images/main.webp') }}"
      />
      {% else %}
      <img
        class="circle"
        src="{{ url_for('static', filename='images/books.webp') }}"
      />
      {% endif %}
      <span class="title">
        <h2 class="flow-text teal-text">{{item.recipe_name}}</h2>

        <p>
          <h3 class="flow-text">{% if item.created_by == session.user %}<i
            id="ribbon"
            class="fas fa-ribbon"
          ></i> Created by YOU{% else %}<i class="fas fa-user"></i> Creator:
          {{item.created_by}}{% endif %}</h3>
        </p></span
      >

      <br />

      <a href="" disabled class="secondary-content"
        ><h3 class="flow-text">
          {% if item.rating|length == 0 %}NO RATINGS{%else%}{%set rating = item.rating|sum / item.rating|length %}{{'%0.1f' % rating|float}}{% endif %} <i id="star" class="star fas fa-star"></i>
        </h3>
        ({{item.rating|length}})</a
      >
    </li>
  </a>
  {% endif %} {% endfor %}
</ul>
{% endblock %}
