{% extends 'base.html'%}{% block content %}
<nav>
  <div class="">
    <div class="col s12">
      <a href="{{url_for('profile', user=session.user)}}" class="breadcrumb"
        >Profile</a
      >
      <a href="#!" class="breadcrumb">Saved Recipes</a>
    </div>
  </div>
</nav>
<div class="row center-align jumbotron">
  <h1 class="saved col-8">
    Saved Recipes (<span id="size">{{size}}</span>)
    <i class="yellow-text darken-4 fas fa-thumbtack"></i>
  </h1>
  <form method="POST" action="{{url_for('search_saved')}}">
    <input
      type="search"
      name="search"
      placeholder="Search for recipes..."
      id="searchbar"
      class="fas fa-search icon-search"
    />
    <button id="search-saved" class="btn-floating pulse" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <br />
</div>
<div id="saved-reset" class="row center"
  ><a href="{{url_for('saved_recipes')}}"
    ><button class="btn purple">
      <i class="fas fa-redo"></i></button></a
></div>
<div class="row">
  {% if recipes|length > 0 %}
  <ul class="collection col s12 m12">
    {%for item in recipes %} {% for x in check_list %} {% if item._id == x %}
    <li class="collection-item hoverable avatar col s12">
      {% if item.type == 'Dessert' %}
      <img
        class="circle"
        src="{{ url_for('static', filename='images/dessert.webp') }}"
      />
      {% elif item.type == 'Snack' %}
      <img
        class="circle"
        src="{{ url_for('static', filename='images/food.webp') }}"
      />
      {% elif item.type == 'Starter' %}
      <img
        class="circle"
        src="{{ url_for('static', filename='images/starter.webp') }}"
      />
      {% elif item.type == 'Main'%}
      <img
        class="circle"
        src="{{ url_for('static', filename='images/main.webp') }}"
      />
      {% else %}
      <img
        class="circle"
        src="{{ url_for('static', filename='images/books.webp') }}"
      />
      {% endif %}
      <a href="{{url_for('view_recipe', recipe_id=item._id) }}">
        <span class="title">
          <h2 class="flow-text">{{item.recipe_name}}</h2></span
        ><span
          ><h4 class="flow-text">
            <i class="fas fa-user"></i> Created by: {{item.created_by}}
          </h4></span
        >
      </a>
      <h4>
        <i class="remove-btn fas fa-trash-alt right"></i><br /><a
          class="remove"
          hidden
          href="{{url_for('remove_recipe', recipe_id=item._id) }}"
          ><h3 class="flow-text">REMOVE <i class="fas fa-times"></i></h3
        ></a>
      </h4>

      <a href="" disabled class="secondary-content"
        ><h3 class="flow-text">
          {% if item.rating|length == 0 %}NO RATINGS{%else%}{%set rating =
          item.rating|sum / item.rating|length %}{{'%0.1f' % rating|float}}
          <i id="star" class="star fas fa-star"></i>
        </h3>
        <span
          >({{item.rating|length}})
          <span class="hide-on-small-only">RATINGS</span></span
        >{% endif %}</a
      >
    </li>
    {% endif%}{%endfor%}{%endfor%}
  </ul>
  {%else%}
  <h1 class="red-text center">NO SAVED RECIPES FOUND</h1>
  {%endif%}
</div>

{% endblock %}
