{% extends 'base.html' %} {% block content %}
<nav>
  <div class="">
    <div class="col s12">
      <a href="{{url_for('recipes')}}" class="breadcrumb">Recipes</a>
      <a id="back" href="#" class="breadcrumb"> BACK </a>
      <a href="#!" class="breadcrumb">{{recipe.recipe_name}}</a>
    </div>
  </div>
</nav>
<main class="flow-text jumbotron" id="view_recipe">
  <div class="row valign-wrapper">
    <div class="center-align view_recipe col s3 hide-on-small-only">
      {% for item in recipes %}{% if item._id == recipe._id %} {% if
      item.created_by == session.user %}
      <span
        ><a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}"
          ><button class="delete-btn">Delete</button></a
        ></span
      >
      <span
        ><a href="{{url_for('edit_recipe', recipe_id=item._id)}}"
          ><button class="edit-btn">Edit</button></a
        ></span
      >
      {%else %}
      <a href="{{url_for('save_recipe', recipe_id=item._id)}}"
        ><button id="save-btn">SAVE RECIPE <i class="fas fa-save"></i></button
      ></a>
      {% endif %}
    </div>
    <div class="flow-text center col s12 m8">
      <span class="secondary-content"
        >{{item.rating|sum / item.rating|length}}<i id="star" class="fas fa-star"></i
      >{% if item.rating|length == 0 %}{%else%}({{item.rating|length}} rating/s){%endif%}</span>
      <h1 class="view">{{ item.recipe_name }}</h1>
    </div>
    <hr />
  </div>
  <div class="row">
    <div class="flow-text ing col s12 m6">
      <div class="row">
        <br />
        <div class="center-align list profile col s6">
          Recipe Type:
        </div>
        <div class="col s6 center">{{ item.type }}</div>
      </div>
      <div class="row">
        <div class="list center-align profile col s6">
          Appliance:
        </div>
        <div class="center col s6">{{ item.appliance }}</div>
      </div>
      <div class="row">
        <div class="list center-align profile col s6">
          Cooking time:
        </div>
        <div class="center col s6">{{ item.cooking_time }}</div>
      </div>
      <div class="row">
        <div class="list center-align profile col s6">
          Temperature:
        </div>
        <div class="col s6 center">{{item.temperature}}</div>
      </div>
      <div class="row">
        <div class="list center-align profile col s6">
          Vegan <i class="fab fa-envira"></i>:
        </div>
        {% if item.vegan == "Yes" %}
        <div class="green-text col s6 center">{{item.vegan}}</div>
        {% elif item.vegan == "No" %}
        <div class="red-text col s6 center">{{item.vegan}}</div>
        {%else%} {%endif%}
      </div>
      <div class="row">
        <div class="list center-align profile col s12">
          Method:
        </div>
      </div>
      <div class="row">
        <div class="col s12 left">
          <ol>
            {% for ing in item.method.split(".") %}
            <span class="hide-on-small-only right">
              <label>
                <input type="checkbox" />
                <span> <i class="fas fa-map-marker-alt"></i> </span>
              </label>
            </span>
            <li>
              {{ing}}
            </li>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
    <div class="ing col s12 m6">
      <div class="row">
        <div class="list center-align profile col s12">
          Ingredients:
        </div>
      </div>
      <div class="col s12">
        <!-- <div class="row"> -->
        <ul>
          {% for ing in item.ingredients.split(",") %}
          <li class="flow-text" id="ingredients">
            <i class="hide-on-small-only fas fa-circle"></i> {{ing}}
            <span class="right">
              <label>
                <input type="checkbox" />
                <span> <i class="fas fa-shopping-basket"></i> </span>
              </label>
            </span>
          </li>
          <br />
          {%endfor%}
        </ul>
      </div>
    </div>
  </div>
  <div class="row rate_me">
    <div class="col s12">
      {% if item.created_by == session.user %} {%else%} {% for recipe in
      saved_list %} {% if recipe._id == item.id %} {%else%}
      <div class="row">
        <div id="save-btn" class="col s12 center-align">
          <a href="{{url_for('save_recipe', recipe_id=recipe._id)}}"
            ><h4 id="save-text">SAVE RECIPE</h4>
            <i class="small fas fa-save"></i
          ></a>
          <span class="switch">
            <label>
              Off
              <input type="checkbox" />
              <span class="lever"></span>
              On
            </label>
          </span>
        </div>
        {% endif %}{% endfor %}
        <div id="rate" class="ing flow-text center-align col s12 m6">
          <h4>RATE ME <i id="star" class="fas fa-star"></i></h4>
          <form
            class="center-align"
            method="POST"
            action="{{url_for('add_rating', recipe_id=recipe._id)}}"
          >
            <p class="range-field">
              <label class="left" for="rating">(0) Awful</label>
              <input
                type="range"
                name="rating"
                id="rating"
                min="0"
                max="10"
              /><label class="right" for="rating">Perfection (10)</label>
            </p>
            <button class="btn-small" type="submit">
              RATE <i class="fas fa-check"></i>
            </button>
          </form>
          <br />
        </div>
      </div>
    </div>
  </div>
</main>

{%endif %} {% endif %} {% endfor %} {% endblock%}
