{% extends 'base.html' %} {% block content %}
<nav>
  <div class="">
    <div class="col s12">
      <a href="#!" class="breadcrumb">Recipes</a>
      <a href="#!" class="breadcrumb"></a>
      <a href="#!" class="breadcrumb"></a>
    </div>
  </div>
</nav>

<div class="container view_recipe">
  <div class="row">
    <div class="col s4 center-align">
      SAVE RECIPE <i class="small fas fa-save"></i>
      <div class="switch">
        <label>
          Off
          <input type="checkbox" />
          <span class="lever"></span>
          On
        </label>
      </div>
      <a href="{{url_for('save_recipe', recipe_id=recipe_id._id)}}">CLICK HERE TO SAVE</a>
      <hr />
      {% for item in recipes %}{% if item._id == recipe_id._id %}
      <span><a href="{{url_for('delete_recipe', recipe_id=recipe_id._id)}}"><button class="delete-btn">Delete</button></a></span>
      <span><a href="{{url_for('edit_recipe', recipe_id=recipe_id._id)}}"><button class="edit-btn">Edit</button></a></span>
    </div>
    <div class="col s8">
      
      <h1 class="view center-align profile">{{ item.recipe_name }}</h1>
    </div>

    <div class="">
      <div class="row">
        <div class="right-align profile col s4">
          Recipe Name:
        </div>
        <div class="col s8">{{ item.recipe_name }}</div>
      </div>
      <div class="row">
        <div class="right-align profile col s4">
          Recipe Type:
        </div>
        <div class="col s8">{{ item.type }}</div>
      </div>
      <div class="row">
        <div class="right-align profile col s4">
          Appliance Used:
        </div>
        <div class="col s8">{{item.appliance}}</div>
      </div>
      <div class="row">
        <div class="right-align profile col s4">
          Temperature:
        </div>
        <div class="col s8">{{item.temperature}}</div>
      </div>
      <div class="row">
        <div class="right-align profile col s4">
          Ingredients:
        </div>

        <div class="col s8">{{item.ingredients}}</div>
        <div class="row">
          <div class="right-align profile col s4">
            Method:
          </div>
          <div class="col s8">{{item.method}}</div>
        </div>
        {% endif %} {% endfor %}
      </div>
      <div class="col s8"></div>
    </div>

    {% endblock%}
  </div>
</div>
